{% extends 'base.html' %}

{% block title %}日記之森 | 密碼重設信件已發送{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modules/user/user.css') }}">
{% endblock %}

{% block content %}
<div class="user-page-wrapper">
    <div class="auth-box">
        <div class="success-message">
            <h1>📧 密碼重設信件已發送</h1>
            <p>我們已經將密碼重設連結發送到 <strong>{{ email }}</strong></p>
            <p>請檢查您的信箱（包括垃圾郵件資料夾），並點擊信件中的連結來重設您的密碼。</p>
            <p>如果您沒有收到信件，請稍後再試或聯繫客服。</p>
            <div class="button-group">
                <a href="{{ url_for('user.user_login_form') }}" class="btn btn-primary">返回登入頁面</a>
                <a href="{{ url_for('user.forgot_form') }}" class="btn btn-secondary">重新發送</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 