{% extends 'base.html' %}

{% block title %}日記之森 | 密碼重設成功{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modules/user/user.css') }}">
<script src="{{ url_for('static', filename='js/modules/user/user.js') }}"></script>
{% endblock %}

{% block content %}
<div class="user-page-wrapper">
  <div class="auth-box success-message">
    <h1>✅ 密碼重設成功！</h1>
    <p>您可以使用新密碼重新登入系統。</p>
    <a href="{{ url_for('user.user_login_form') }}" class="btn btn-success">前往登入</a>
  </div>
</div>
{% endblock %}

